<h2><i class="fa fa-4 fa-shopping-cart"></i> Shoppe Options</h2>
<div class="panel panel-default">
	<div class="panel-heading">
		<ul class="nav nav-pills">
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.groups">Groups</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.products">Products</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.backings">Backings</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.accentbows">Accent Bows</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.letters">Letters</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.bears">Bears</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.options.accessories">Accessories</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div ui-view></div>
	</div>
</div>