<h2><i class="fa fa-4 fa-shopping-cart"></i> Customize Mum</h2>
<div class="panel panel-default" ng-hide="mumTracker.active()">
	<div class="panel-heading">
		<ul class="nav nav-pills">
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.backings">Backing</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.accentbows">Accent Bow</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.ribbons">Name Ribbons</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.bears">Bears</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.accessories">Accessories</a></li>
			<li role="presentation" ui-sref-active="active"><a ui-sref="base.customize.review">Review</a></li>
		</ul>
	</div>
	<div class="panel-body">
		<div ui-view></div>
	</div>
</div>
<div class="panel panel-default" ng-show="mumTracker.active()">
	<i class="fa fa-spin fa-circle-o-notch"></i>
</div>
