<div class="modal-header">
	<h3 class="modal-title">{{ data.head }}</h3>
</div>
<div class="modal-body">
	<p>{{ data.body }}</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">{{ data.no }}</button>
	<button type="button" class="btn btn-success" ng-hide="tracker.active()" ng-click="confirm()">{{ data.yes }}</button>
	<button type="button" class="btn btn-success" ng-show="tracker.active()" disabled><i class="fa fa-spin fa-circle-o-notch"></i></button>
</div>